:root {
  --bege: #e6dbc8;
  --marrom: #6f352a;
  --branco: #ffffff;
}

body {
  background-color: var(--bege);
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "Molika";
  src: url("/fonts/MOLIKA.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/*Navbar*/
.navbar {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 60px 123px;
  box-sizing: border-box;
  margin-bottom: 70px;
}
.navbar-title {
  color: var(--marrom);
  font-weight: 100;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 0;
  margin: 0;
}
.navbar li {
  font-size: 16px;
  color: var(--marrom);
  cursor: pointer;
}
.navbar-button .listen-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--marrom);
  color: var(--branco);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  width: 121px;
  height: 42px;
  transition: all 0.3s ease;
  text-align: center;
}

.navbar-button .listen-button:hover {
  background-color: var(--branco);
  color: var(--marrom);
}
/*Hero*/
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 579px;
  margin: 0 auto;
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 96px;
  width: 100%;
  text-align: center;
  color: #6F352A;
  font-family: 'Molika', serif;
  z-index: 2;
  pointer-events: none;
}
